@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.react-time-picker > div {
  border-radius: 136px;
  outline-color: #38bdf8;
}

input,
label {
  color: currentColor;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
  color: currentColor;
}
.MuiButtonBase-root.MuiIconButton-root {
  color: currentColor;
}
div
  .MuiInputBase-root
  .MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: currentColor;
}
.pickerContainer div {
  color: currentColor;
}
.pickerContainer label {
  color: currentColor;
}
